.one label , input{
    display: block;
    padding-top: 5px;
    color: black;
    font-size: large;
    color: rgb(212, 171, 171);
}
.two {
    
    padding: 10px;
    box-sizing: border-box;
}
#main {
    float: left;
    width: 70%;
}
#sidebar{
    width: 30%;
    float: left;
}
.container {
    display: flex;
}
body{
    background: url(haa.jpeg) center fixed;
    background-repeat: no-repeat;
    background-size: 100%;

}
h1 {
    text-align: center;
}
*{
    color: rgb(150, 202, 221);
}